<launch>
  <include file="$(find tango_bringup)/launch/serial.launch"/>

  <node pkg="ros_arduino_imu" type="raw_imu_bridge_node" name="raw_imu_bridge" output="screen" respawn="false" />
  <!--<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" />-->
  
  <node pkg="tango_control" type="motors" name="motors" output="screen"/>
  <node pkg="tango_control" type="encoders" name="encoders" output="screen"/>
  <node pkg="tango_control" type="infrareds" name="infrareds" output="screen"/>

</launch>
