<launch>
  <rosparam param="ticks_meter">5520</rosparam>
  <rosparam param="base_width">0.28</rosparam>

  <node pkg="differential_drive" type="pid_velocity" name="lpid_velocity">
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
      <remap from="wheel_vel" to="lwheel_vel"/>
      <rosparam param="Kp">16.0</rosparam>
      <rosparam param="Ki">15.5</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-127</rosparam>
      <rosparam param="out_max">127</rosparam>
      <rosparam param="rate">20</rosparam>
      <rosparam param="encoder_min">-32768</rosparam>
      <rosparam param="encoder_max">32767</rosparam>
      <rosparam param="timeout_ticks">30</rosparam>
      <rosparam param="rolling_pts">10</rosparam>
  </node>
  
  <node pkg="differential_drive" type="pid_velocity" name="rpid_velocity">
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
      <remap from="wheel_vel" to="rwheel_vel"/>
      <rosparam param="Kp">16.0</rosparam>
      <rosparam param="Ki">15.5</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-127</rosparam>
      <rosparam param="out_max">127</rosparam>
      <rosparam param="rate">20</rosparam>
      <rosparam param="encoder_min">-32768</rosparam>
      <rosparam param="encoder_max">32767</rosparam>
      <rosparam param="timeout_ticks">30</rosparam>
      <rosparam param="rolling_pts">10</rosparam>
  </node>
  
  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
    <rosparam param="rate">50</rosparam>
    <rosparam param="timeout_ticks">2</rosparam>
  </node>

  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf"  output="screen">
    <rosparam param="rate">10</rosparam>
    <rosparam param="base_frame_id">"base_footprint"</rosparam>
    <rosparam param="odom_frame_id">"odom"</rosparam>
    <rosparam param="encoder_min">-32768</rosparam>
    <rosparam param="encoder_max">32767</rosparam>
  </node>

</launch>
