<?xml version="1.0"?>
<robot name="infrared_sensor" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ir_sensor_inertial" params="mass height width depth">
    <xacro:property name="ir_sensor_inertia_xx" value="${(0.8333*mass)*((height*height)+(depth*depth))}"/>
    <xacro:property name="ir_sensor_inertia_yy" value="${(0.8333*mass)*((width*width)+(depth*depth))}"/>
    <xacro:property name="ir_sensor_inertia_zz" value="${(0.8333*mass)*((width*width)+(height*height))}"/>
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${ir_sensor_inertia_xx}" ixy="0.0" ixz="0.0" iyy="${ir_sensor_inertia_yy}" iyz="0.0" izz="${ir_sensor_inertia_zz}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="ir_sensor" params="prefix parent joint_xyz joint_rpy">  
    <link name="${prefix}_link">
      <xacro:ir_sensor_inertial mass="0.01" height="0.001" width="0.001" depth="0.001"/>
    </link>
    
    <joint name="${prefix}_joint" type="fixed">
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>
  </xacro:macro>
  
</robot>